@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900&display=swap");
body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  color: #fff;
}

body::-webkit-scrollbar {
  display: none;
}

nav {
  position: absolute;
  z-index: 111;
}
nav h1 {
  margin: 1rem;
}

#confetti-canvas {
  position: fixed;
  top: 0;
  left: 0;
}

footer {
  display: flex;
  position: absolute;
  bottom: 1rem;
  left: 0;
  width: 100%;
}
footer .footer-wrapper {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 800px) {
  footer .footer-wrapper {
    width: 100%;
  }
}
footer .footer-wrapper a {
  text-decoration: none;
  color: #fff;
  margin: 0 0.25rem;
  cursor: pointer;
}
footer .footer-wrapper a:hover {
  text-decoration: underline;
}

.container {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 100vh;
}
@media (max-width: 800px) {
  .container {
    flex-direction: column !important;
  }
}
.container .side {
  width: 50%;
  height: 100%;
  position: relative;
}
.container .side .timer {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}
.container .side .timer:not(.hidden) {
  animation: show 1000ms linear;
}
@keyframes show {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.container .side .timer.hidden {
  opacity: 0;
}
.container .side .timer li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 1rem;
  position: relative;
}
.container .side .timer li:not(:last-of-type):after {
  content: ":";
  position: absolute;
  width: 5px;
  height: 100%;
  top: 4px;
  right: -3px;
}
.container .side .timer li h2,
.container .side .timer li span {
  text-align: center;
}
.container .side .timer li h2 {
  min-width: 35px;
  line-height: 0.75;
  margin: 0;
}
.container .side .timer li span {
  margin-top: 0.5rem;
}
.container .side:nth-child(1) {
  width: calc(50% - 4rem);
  height: calc(100% - 4rem);
  padding: 2rem;
  background: #85c318;
  background: linear-gradient(122.74deg, #73b400 -36.24%, #87c51b 43.13%, #73b400 96.27%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 800px) {
  .container .side:nth-child(1) {
    padding: 0;
  }
}
.container .side:nth-child(1) h1 {
  font-size: 2.5rem;
}
.container .side:nth-child(1) h1 a {
  color: #fff;
  text-decoration: none;
}
@media (max-width: 800px) {
  .container .side:nth-child(1) h1 {
    font-size: 2rem;
  }
}
@media (max-width: 400px) {
  .container .side:nth-child(1) h1 {
    font-size: 1.5rem;
  }
}
.container .side:nth-child(1) .timer li h2 {
  font-size: 2rem;
}
.container .side:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1f222b;
  overflow: hidden;
}
.container .side:nth-child(2) .content-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 400px) {
  .container .side:nth-child(2) .timer {
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    gap: 1rem;
  }
  .container .side:nth-child(2) .timer li {
    padding: 0;
  }
  .container .side:nth-child(2) .timer li::after {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
}
@media (max-width: 800px) {
  .container .side {
    width: 100% !important;
  }
}

.animation {
  transition: 0.3s ease;
  position: relative;
  margin-left: 5rem;
}
.animation.opacity-down {
  opacity: 0;
  transition: 1s ease;
}
@media (max-width: 999.99px) {
  .animation {
    transform: scale(0.75);
  }
}
@media (max-width: 799.99px) {
  .animation {
    margin-left: 2.5rem;
    transform: scale(0.5);
  }
}
.animation .🚀 {
  animation: rotateAnimation 1800ms linear infinite both;
  width: 175px;
  position: relative;
  top: -67px;
  left: 48px;
}
.animation .🌠 {
  animation: fly 800ms linear both;
}
.animation .exhaust-fumes li {
  width: 60px;
  height: 60px;
  background-color: #fff;
  list-style: none;
  position: absolute;
  border-radius: 100%;
}
.animation .exhaust-fumes li:first-child {
  width: 200px;
  height: 200px;
  bottom: -100px;
  animation: fumes 5s infinite;
}
.animation .exhaust-fumes li:nth-child(2) {
  width: 150px;
  height: 150px;
  left: -120px;
  top: 60px;
  animation: fumes 3.2s infinite;
}
.animation .exhaust-fumes li:nth-child(3) {
  width: 120px;
  height: 120px;
  left: -40px;
  top: 130px;
  animation: fumes 3s 1s infinite;
}
.animation .exhaust-fumes li:nth-child(4) {
  width: 100px;
  height: 100px;
  left: -170px;
  animation: fumes 4s 2s infinite;
  top: 180px;
}
.animation .exhaust-fumes li:nth-child(5) {
  width: 130px;
  height: 130px;
  left: -120px;
  top: 150px;
  animation: fumes 5s infinite;
}
.animation .exhaust-fumes li:nth-child(6) {
  width: 200px;
  height: 200px;
  left: -60px;
  top: 80px;
  animation: fumes2 10s infinite;
}
.animation .exhaust-fumes li:nth-child(7) {
  width: 100px;
  height: 100px;
  left: -100px;
  top: 120px;
}
.animation .exhaust-fumes li:nth-child(8) {
  width: 110px;
  height: 110px;
  left: 70px;
  top: 140px;
}
.animation .exhaust-fumes li:nth-child(9) {
  width: 90px;
  height: 90px;
  left: 100px;
  top: 180px;
  animation: fumes 20s infinite;
}
.animation .star li {
  list-style: none;
  position: absolute;
}
.animation .star li:before, .animation .star li:after {
  content: "";
  position: absolute;
  background-color: #fff;
}
.animation .star li:before {
  width: 10px;
  height: 2px;
  border-radius: 50%;
}
.animation .star li:after {
  height: 8px;
  width: 2px;
  left: 4px;
  top: -3px;
}
.animation .star li:first-child {
  top: -30px;
  left: -110px;
  animation: twinkle 0.4s infinite;
}
.animation .star li:nth-child(2) {
  top: 0;
  left: 60px;
  animation: twinkle 0.5s infinite;
}
.animation .star li:nth-child(2):before {
  height: 1px;
  width: 5px;
}
.animation .star li:nth-child(2):after {
  width: 1px;
  height: 5px;
  top: -2px;
  left: 2px;
}
.animation .star li:nth-child(3) {
  left: 120px;
  top: 220px;
  animation: twinkle 1s infinite;
}
.animation .star li:nth-child(4) {
  left: -100px;
  top: 200px;
  animation: twinkle 0.5s ease infinite;
}
.animation .star li:nth-child(5) {
  left: 170px;
  top: 100px;
  animation: twinkle 0.4s ease infinite;
}
.animation .star li:nth-child(6) {
  top: 87px;
  left: -79px;
  animation: twinkle 0.2s infinite;
}
.animation .star li:nth-child(6):before {
  height: 1px;
  width: 5px;
}
.animation .star li:nth-child(6):after {
  width: 1px;
  height: 5px;
  top: -2px;
  left: 2px;
}
@keyframes fly {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(43vw, -61vh);
  }
}
@keyframes fumes {
  50% {
    transform: scale(1.5);
    background-color: transparent;
  }
  51% {
    transform: scale(0.8);
  }
  100% {
    background-color: #fff;
    transform: scale(1);
  }
}
@keyframes bounce {
  0% {
    transform: translate3d(0px, 0px, 0);
  }
  50% {
    transform: translate3d(0px, -4px, 0);
  }
  100% {
    transform: translate3d(0px, 0px, 0);
  }
}
@keyframes exhaust {
  0% {
    background: linear-gradient(to bottom, transparent 10%, #fff 100%);
  }
  50% {
    background: linear-gradient(to bottom, transparent 8%, #fff 100%);
  }
  75% {
    background: linear-gradient(to bottom, transparent 12%, #fff 100%);
  }
}
@keyframes fumes2 {
  50% {
    transform: scale(1.1);
  }
}
@keyframes twinkle {
  80% {
    transform: scale(1.1);
    opacity: 0.7;
  }
}
@keyframes rotateAnimation {
  0% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  3.2% {
    transform: matrix3d(0.998, 0.069, 0, 0, -0.069, 0.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  6.41% {
    transform: matrix3d(0.996, 0.086, 0, 0, -0.086, 0.996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  12.71% {
    transform: matrix3d(0.998, 0.056, 0, 0, -0.056, 0.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  18.92% {
    transform: matrix3d(1, 0.018, 0, 0, -0.018, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  25.23% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  31.43% {
    transform: matrix3d(1, -0.004, 0, 0, 0.004, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  56.46% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  81.48% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}/*# sourceMappingURL=style.css.map */