@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900&display=swap");
body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
}

@-webkit-keyframes rotateAnimation {
  0% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  3.2% {
    -webkit-transform: matrix3d(0.998, 0.069, 0, 0, -0.069, 0.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.998, 0.069, 0, 0, -0.069, 0.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  6.41% {
    -webkit-transform: matrix3d(0.996, 0.086, 0, 0, -0.086, 0.996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.996, 0.086, 0, 0, -0.086, 0.996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  12.71% {
    -webkit-transform: matrix3d(0.998, 0.056, 0, 0, -0.056, 0.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.998, 0.056, 0, 0, -0.056, 0.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  18.92% {
    -webkit-transform: matrix3d(1, 0.018, 0, 0, -0.018, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0.018, 0, 0, -0.018, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  25.23% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  31.43% {
    -webkit-transform: matrix3d(1, -0.004, 0, 0, 0.004, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, -0.004, 0, 0, 0.004, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  56.46% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  81.48% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}

@keyframes rotateAnimation {
  0% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  3.2% {
    -webkit-transform: matrix3d(0.998, 0.069, 0, 0, -0.069, 0.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.998, 0.069, 0, 0, -0.069, 0.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  6.41% {
    -webkit-transform: matrix3d(0.996, 0.086, 0, 0, -0.086, 0.996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.996, 0.086, 0, 0, -0.086, 0.996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  12.71% {
    -webkit-transform: matrix3d(0.998, 0.056, 0, 0, -0.056, 0.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.998, 0.056, 0, 0, -0.056, 0.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  18.92% {
    -webkit-transform: matrix3d(1, 0.018, 0, 0, -0.018, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0.018, 0, 0, -0.018, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  25.23% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  31.43% {
    -webkit-transform: matrix3d(1, -0.004, 0, 0, 0.004, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, -0.004, 0, 0, 0.004, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  56.46% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  81.48% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}

body::-webkit-scrollbar {
  display: none;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 11111;
}

@media (min-width: 799.99px) {
  footer {
    width: 50%;
  }
}

footer a {
  color: #fff;
  text-decoration: none;
  padding: 2rem;
}

.container {
  width: 100%;
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 799.99px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .block {
    width: 100% !important;
    height: 50%;
  }
  .container .block .content {
    height: 100% !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .container .block .content .content-text h1 {
    font-size: 2rem !important;
  }
  .container .block .content .content-text .first {
    display: none !important;
  }
  .container .rocket .content {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .container .rocket .content .animation {
    margin-left: 55px !important;
  }
}

@media (max-width: 349.99px) {
  .container .block .content .content-text h1 {
    font-size: 1.75rem !important;
  }
  .container .block .content .content-text form {
    display: block !important;
  }
  .container .block .content .content-text form button {
    height: 48px !important;
    margin: 0.5rem 0 0 auto !important;
  }
  .container .block .content .content-text form .is-floating-label input {
    width: calc(100% - 36px) !important;
  }
}

.container nav {
  position: absolute;
  z-index: 11111;
}

.container nav h1 {
  margin: 1rem;
}

.container .block {
  z-index: 1111;
  width: 50%;
  position: relative;
  background: #85c318;
  background: linear-gradient(122.74deg, #73b400 -36.24%, #87C51B 43.13%, #73b400 96.27%);
}

.container .block .content {
  height: 85%;
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 999.99px) {
  .container .block .content {
    margin: 0 auto;
  }
}

.container .block .content .content-text h1 {
  font-size: 2.5rem;
}

.container .block .content .content-text form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .block .content .content-text form .is-floating-label {
  position: relative;
}

.container .block .content .content-text form .is-floating-label input {
  margin: 0;
  outline: none;
  border: none;
  padding: 20px 18px 10px 18px;
  font-size: 16px;
  border-radius: 1rem;
}

.container .block .content .content-text form .is-floating-label label {
  left: 18px;
  color: #333;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  opacity: 0.54;
  pointer-events: none;
  position: absolute;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
  -webkit-transform-origin: left top;
  transform-origin: left top;
  -webkit-transition: 100ms;
  transition: 100ms;
  top: 10px;
}

.container .block .content .content-text form .focused label {
  -webkit-transform: translateY(-8px) scale(0.74);
  transform: translateY(-8px) scale(0.74);
  opacity: 1;
}

.container .block .content .content-text form button {
  outline: none;
  background: #1D91D4;
  border: none;
  cursor: pointer;
  padding: 5px 20px;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 1rem;
}

.container .block .content .content-text form button svg {
  width: 20px;
  height: 20px;
  color: #fff;
}

.container .block .content .content-text ul {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 50px;
}

.container .block .content .content-text ul li {
  text-align: center;
  list-style: none;
  padding: 0 1rem;
  position: relative;
  -webkit-animation: show 1500ms linear;
          animation: show 1500ms linear;
}

@media (min-width: 799.99px) {
  .container .block .content .content-text ul li:first-child {
    padding-left: 0;
  }
}

@-webkit-keyframes show {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container .block .content .content-text ul li h1 {
  min-width: 35px;
  line-height: 0.75;
  margin: 0;
}

.container .block .content .content-text ul li:not(:last-of-type):after {
  content: ":";
  position: absolute;
  width: 5px;
  height: 100%;
  top: 4px;
  right: -3px;
}

.container .rocket {
  background: #1f222b !important;
  z-index: 1 !important;
}

.container .rocket .content {
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.container .rocket .content .opacity-down {
  opacity: 0;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.container .rocket .content .second {
  display: none !important;
}

.container .rocket .content .grid {
  display: -ms-grid !important;
  display: grid !important;
}

@media (max-width: 799.99px) {
  .container .rocket .content .grid {
    display: -ms-grid !important;
    display: grid !important;
  }
}

.container .rocket .content .flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

@media (max-width: 799.99px) {
  .container .rocket .content .flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

.container .rocket .content .animation {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  position: relative;
  margin-left: 55px;
}

@media (max-width: 999.99px) {
  .container .rocket .content .animation {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
    margin-left: 100px;
  }
}

@media (max-width: 799.99px) {
  .container .rocket .content .animation {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

.container .rocket .content .animation img {
  -webkit-animation: rotateAnimation 1800ms linear infinite both;
  animation: rotateAnimation 1800ms linear infinite both;
  width: 175px;
  position: relative;
  top: -67px;
  left: 48px;
}

.container .rocket .content .animation .none {
  -webkit-animation: fly 800ms linear both;
  animation: fly 800ms linear both;
}

.container .rocket .content .animation .exhaust-fumes li {
  width: 60px;
  height: 60px;
  background-color: #f5f5f5;
  list-style: none;
  position: absolute;
  border-radius: 100%;
}

.container .rocket .content .animation .exhaust-fumes li:first-child {
  width: 200px;
  height: 200px;
  bottom: -100px;
  -webkit-animation: fumes 5s infinite;
          animation: fumes 5s infinite;
}

.container .rocket .content .animation .exhaust-fumes li:nth-child(2) {
  width: 150px;
  height: 150px;
  left: -120px;
  top: 60px;
  -webkit-animation: fumes 3.2s infinite;
          animation: fumes 3.2s infinite;
}

.container .rocket .content .animation .exhaust-fumes li:nth-child(3) {
  width: 120px;
  height: 120px;
  left: -40px;
  top: 130px;
  -webkit-animation: fumes 3s 1s infinite;
          animation: fumes 3s 1s infinite;
}

.container .rocket .content .animation .exhaust-fumes li:nth-child(4) {
  width: 100px;
  height: 100px;
  left: -170px;
  -webkit-animation: fumes 4s 2s infinite;
          animation: fumes 4s 2s infinite;
  top: 180px;
}

.container .rocket .content .animation .exhaust-fumes li:nth-child(5) {
  width: 130px;
  height: 130px;
  left: -120px;
  top: 150px;
  -webkit-animation: fumes 5s infinite;
          animation: fumes 5s infinite;
}

.container .rocket .content .animation .exhaust-fumes li:nth-child(6) {
  width: 200px;
  height: 200px;
  left: -60px;
  top: 80px;
  -webkit-animation: fumes2 10s infinite;
          animation: fumes2 10s infinite;
}

.container .rocket .content .animation .exhaust-fumes li:nth-child(7) {
  width: 100px;
  height: 100px;
  left: -100px;
  top: 120px;
}

.container .rocket .content .animation .exhaust-fumes li:nth-child(8) {
  width: 110px;
  height: 110px;
  left: 70px;
  top: 140px;
}

.container .rocket .content .animation .exhaust-fumes li:nth-child(9) {
  width: 90px;
  height: 90px;
  left: 100px;
  top: 180px;
  -webkit-animation: fumes 20s infinite;
          animation: fumes 20s infinite;
}

.container .rocket .content .animation .star li {
  list-style: none;
  position: absolute;
}

.container .rocket .content .animation .star li:before, .container .rocket .content .animation .star li:after {
  content: '';
  position: absolute;
  background-color: #f5f5f5;
}

.container .rocket .content .animation .star li:before {
  width: 10px;
  height: 2px;
  border-radius: 50%;
}

.container .rocket .content .animation .star li:after {
  height: 8px;
  width: 2px;
  left: 4px;
  top: -3px;
}

.container .rocket .content .animation .star li:first-child {
  top: -30px;
  left: -110px;
  -webkit-animation: twinkle 0.4s infinite;
          animation: twinkle 0.4s infinite;
}

.container .rocket .content .animation .star li:nth-child(2) {
  top: 0;
  left: 60px;
  -webkit-animation: twinkle 0.5s infinite;
          animation: twinkle 0.5s infinite;
}

.container .rocket .content .animation .star li:nth-child(2):before {
  height: 1px;
  width: 5px;
}

.container .rocket .content .animation .star li:nth-child(2):after {
  width: 1px;
  height: 5px;
  top: -2px;
  left: 2px;
}

.container .rocket .content .animation .star li:nth-child(3) {
  left: 120px;
  top: 220px;
  -webkit-animation: twinkle 1s infinite;
          animation: twinkle 1s infinite;
}

.container .rocket .content .animation .star li:nth-child(4) {
  left: -100px;
  top: 200px;
  -webkit-animation: twinkle 0.5s ease infinite;
          animation: twinkle 0.5s ease infinite;
}

.container .rocket .content .animation .star li:nth-child(5) {
  left: 170px;
  top: 100px;
  -webkit-animation: twinkle 0.4s ease infinite;
          animation: twinkle 0.4s ease infinite;
}

.container .rocket .content .animation .star li:nth-child(6) {
  top: 87px;
  left: -79px;
  -webkit-animation: twinkle 0.2s infinite;
          animation: twinkle 0.2s infinite;
}

.container .rocket .content .animation .star li:nth-child(6):before {
  height: 1px;
  width: 5px;
}

.container .rocket .content .animation .star li:nth-child(6):after {
  width: 1px;
  height: 5px;
  top: -2px;
  left: 2px;
}

@-webkit-keyframes fly {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(43vw, -61vh);
            transform: translate(43vw, -61vh);
  }
}

@keyframes fly {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(43vw, -61vh);
            transform: translate(43vw, -61vh);
  }
}

@-webkit-keyframes fumes {
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    background-color: transparent;
  }
  51% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    background-color: #f5f5f5;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes fumes {
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    background-color: transparent;
  }
  51% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    background-color: #f5f5f5;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translate3d(0px, 0px, 0);
            transform: translate3d(0px, 0px, 0);
  }
  50% {
    -webkit-transform: translate3d(0px, -4px, 0);
            transform: translate3d(0px, -4px, 0);
  }
  100% {
    -webkit-transform: translate3d(0px, 0px, 0);
            transform: translate3d(0px, 0px, 0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translate3d(0px, 0px, 0);
            transform: translate3d(0px, 0px, 0);
  }
  50% {
    -webkit-transform: translate3d(0px, -4px, 0);
            transform: translate3d(0px, -4px, 0);
  }
  100% {
    -webkit-transform: translate3d(0px, 0px, 0);
            transform: translate3d(0px, 0px, 0);
  }
}

@-webkit-keyframes exhaust {
  0% {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, transparent), to(#f5f5f5));
    background: linear-gradient(to bottom, transparent 10%, #f5f5f5 100%);
  }
  50% {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(8%, transparent), to(#f5f5f5));
    background: linear-gradient(to bottom, transparent 8%, #f5f5f5 100%);
  }
  75% {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(12%, transparent), to(#f5f5f5));
    background: linear-gradient(to bottom, transparent 12%, #f5f5f5 100%);
  }
}

@keyframes exhaust {
  0% {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, transparent), to(#f5f5f5));
    background: linear-gradient(to bottom, transparent 10%, #f5f5f5 100%);
  }
  50% {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(8%, transparent), to(#f5f5f5));
    background: linear-gradient(to bottom, transparent 8%, #f5f5f5 100%);
  }
  75% {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(12%, transparent), to(#f5f5f5));
    background: linear-gradient(to bottom, transparent 12%, #f5f5f5 100%);
  }
}

@-webkit-keyframes fumes2 {
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes fumes2 {
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@-webkit-keyframes twinkle {
  80% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 0.7;
  }
}

@keyframes twinkle {
  80% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 0.7;
  }
}

@media (max-width: 399.99px) {
  .container .rocket .content .content-text ul {
    -ms-grid-columns: (0fr)[2];
        grid-template-columns: repeat(2, 0fr);
  }
  .container .rocket .content .content-text ul li {
    margin: 1rem;
  }
  .container .rocket .content .content-text ul li:after {
    display: none !important;
  }
}
/*# sourceMappingURL=style.css.map */